<div class="center hero-unit">
	<h1>Mentor</h1>
	<h2>Blah blah blah</h2>

	<% unless member_signed_in? -%>
		<%= link_to "Login now!", login_path, class: "btn btn-large btn-primary" %>
	<% end -%>
</div>
